# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 95a1c693300a6befd4d425b2f06075c693d1149341009ad3254901a1cb6106451a1bbe2ca73bd8af365f5a16f9acc220317d7f431938c83532e14bc5ab91ab03

test:
  secret_key_base: 45d6908a2e160ec2c6476b63e43f0b56e76cdd88de2669af445efad4e6162575f6b0509d8df3c82d3698da5b2bd89cc24eb5a670cb5487208ae4ba08c4a8f0c6

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
